  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

	* {
		font-family: Roboto;
	}

     /* #background {
        background-image: url("../img/img_cidade.jpg");
        background-size: cover;
        height: 200px;
        width="80%";
             
      }*/ 

	 a {
       color: whitesmoke;
       border-color: darkred;
       padding: 16px 38px;
     }
   a:hover {
     /* background-color: green; */
     background-color: blue;
           }
 
   img {
       /* width: 30px;*/
        width: 100%;
        height: auto;
        border-radius: 5%;
    }

    .logo {

        width: 60px; 
        height: 60px;
        border-radius: 50%;
        padding-top:10px;
    }
	   
     
 /*    
 .material-symbols-outlined {
    padding-top: 1em;
    padding-right: 1em;
    float:right;


    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48 
  }
*/

      body {
            /*font-family: -webkit-body;*/
			    background-color: yellowgreen;       			
      }

      #principal {
          /* background-color: yellowgreen; */
          background-color: silver;
      } 

      #cabecalho {
          /* background: darkgreen; */
          background-color: blueviolet;
	      width:89%;
        /*  border:  1px solid lightgreen;
          border-radius: 8px;*/
	      /*font-family: -webkit-body;*/
          font-size: 20px;
		  /* text-align: center; 
          line-height: 40px; */
          padding-bottom: auto;
          padding-right:20px; 
            
          display: flex;
          justify-content: space-around;
        
      }
      #rodape {
        /* background: darkgreen; */
        background-color: darkblue;
	      width:90%; 
        /* border:  1px solid lightgreen; */
        border: 1px solid lightcyan;
	border-radius: 8px;
                  
	display: inline-block; 
	font-size: 0.85em;
    	text-decoration: none;
    	color:white;
    	/*padding: 16px 38px; */
        padding: 16px 1px;
      }
	  

section {
  width: 90%;
  display: inline-block;
  background: #ccc;
  height: 30vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
/*.material-symbols-outlined {
  font-size: 36px; /* Aumenta o tamanho do ícone para 32 pixels */
/*} */

i.material-symbols-outlined {
  font-size: 32px !important; /* Use !important para garantir a prioridade */
}

.footer-distributed {
  /*background-color: #559929; */
  background-color: blue;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1); 
  box-sizing: border-box; 
  width: 100%;
  height:18vh;    /* de 12vh para 18vh */ 
  
   
  text-align: center;    /* de left para center */
  font: normal 16px sans-serif;
 /* padding: 3px 3px; */    
}

.footer-distributed .footer-left p {
  /*color: #8f9296;*/
  color: #white;
  font-size: 14px;
  margin:0
  padding:2px 2px;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px; 
  font-weight: bold;
  color: whitesmoke;
  margin: 0 0 1px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  /* display: inline-block; */
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  /* font-size: 20px; */
  left: 0;
  color: #fff;
  /* display: inline-block; */
  padding-right: 5px;
  
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/*  
.footer-distributed .footer-right {
  
  float: right; 
  margin-top: 4px;
  max-width: 180px;  
}
*/

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;      
  height: 35px;
  background-color:inherit; 
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  /* line-height: 35px; 
  line-height:15px; */
  margin-left: 2px;
  transition:all .25s;
}


.footer-distributed .footer-right a:hover{transform:scale(1.2); -webkit-transform:scale(1.2);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */
/*
@media (max-width:600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;       
    margin: 0 auto 20px;       
      
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
} */

/* passando para nav ao invés de div */
nav {
    /*background-color:#ED266B; */
   /* background-color:green; */
   background-color: blue;
    /* width:90.5%;  */
    width:100%;
    border-radius: 8px;
    
}
nav ul{
    margin:0;
}
nav li {
    display: inline-block;
}
nav li a {
    display: inline-block;
    font-size: 1.4em;
    text-decoration: none;
    color:white;
    padding: 16px 38px;
  
}
nav li a:hover {
     background-color: #B00E50; 
    /* background-color: darkgreen */
    /*background-color: darkblue; */
}
mark {
   /*background-color: green; */
   background-color: darkblue;
   color:silver;
   border-radius: 8px;
}

@media (max-width: 804px) { /* era 600 px */
  nav, iframe, .footer-distributed, #rodape, .footer-distributed .footer-right{
    width: 100%;
    height: auto
    padding:1px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
           
  }
}

====
